@font-face {
    font-family: 'Bravura';
    src: url('../../font/Bravura.otf');
}
.music-symbol {
    font-family: 'Bravura';
    font-size: 1.6em;
    position: relative;
    top: -0.2em;
}
.no-requirement { font-style: italic; }

.w15 { width: 15%; }
.w40 { width: 40%; }
.w45 { width: 45%; }